
/* .header{

    display: flex;
    width: 100%;
    height: 100px;
    background-color: #344955;
    background-size: 40rem;
    background-image: url('c:/Users/Santiago/Desktop/Ruray/login-ruray-web/src/assets/images/fondo.jpg');
} */

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
    background-image: url('c:/Users/Santiago/Desktop/Ruray/login-ruray-web/src/assets/images/fondo.jpg');
    background-size: 100%;
    background-position: absolute;
}

.login-content{
    float: left;
    padding-left: 5rem;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 20rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin:auto;
    margin-left: 5rem;
    position: absolute;
    /* border: 1px solid #f9aa33; */
    background-color:#0d0d0e1c;
    border-radius: 20px;
    /* opacity: 0.2; */

    
}
.submit-button-container{
    display: flex;
    /* justify-content: center; */
    float: left;
    /* align-items: center; */
    /* margin-top: 20px; */
}

.submit-button{
    width: 200px;
    height: 40px;
    border-radius:25px;
    border: none;
    outline: none;
    background-color: #f9aa33;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.register-button-container{
    float: left;
}

.submit-button:hover{
    opacity: 0.6;
}

.label-error{
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px;

}
 .label-alert{
    font-size: 12px;
    color: white;
/*     background: rgba(255, 192, 203, 0.747);
 */    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: 0.7;
    margin-bottom: 10px;
 }

 .home-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .home-container h1, .home-container label{
     color: white;
 }

 .register-container{
    display: flex;
/*     justify-content: center;
 */    float: left;
    /* align-items: center; */
    color: white;
    margin-top: 25px;
    padding: 5px;
    font-size: 14px;
/*     border: 1px solid rgba(var(--b6a,219,219,219),0.5);
    border-radius: 1px; */
}

@media (max-width: 480px) { 
    .login-content{
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color:transparent;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:auto;
        position: absolute;
    }

    .login-container{

        background-image: url('c:/Users/Santiago/Desktop/Ruray/login-ruray-web/src/assets/images/fondo.jpg');
        background-size: 100%;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat; background-size: cover;
    }



}