.input-container {
    background-color: #334854;
}

/* .regular-style{
    width: 100%;
    height: 35px;
    border-radius: 25px;
    border: none;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: cadetblue;
    font-size: 14px;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 */
.regular-style::placeholder{
    font-size:14px ;
    color: #334854;
    opacity: 0.8;
}
.TextLabel{
    color: beige !important;
    background: #334854 !important;
}

/* .input-error{
    border: 1px solid red;
    color: red;
    background: pink;
    width: 100%;
    height: 35px;
    border-radius: 25px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    outline: none;

}
.input-error::placeholder{
    color:red;
    font-size: 14px;
} */

